* {
    padding: 0;
    margin: 0;
}

.outer-container {
    height: 100vh;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    flex-direction: column;
    /* height: 100%; */
    width: 80%;
    /* margin: 0 auto; */
}

.main-content {
    display: flex;

}


header {
    background-color: red;
    padding: 1rem;
}

aside {
    padding: 1rem;
}

.left-sidebar {
    background-color: yellow;
}

.right-sidebar {
    background-color: blueviolet;
}

main {
    background-color: aqua;
    padding: 1rem;
}

footer {
    background-color: greenyellow;
    padding: 1rem;
}