* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #c0c7d1;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 10% auto 10%;
    min-height: 100vh;
    background-color: #947c84;
}

.header-wrapper {
    background: #42597a;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.main-header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background: #0d1e35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #dbd7d7;
    padding: 0 1rem;
}

.header-nav {
    display: flex;
    list-style-type: none;
}

.header-nav a {
    padding: 1rem;
    text-decoration: none;
    color: #dbd7d7;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #527d96;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
}

.footer-wrapper {
    background: #42597a;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

footer {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background: #0d1e35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 0.7rem 0;
}

.footer-nav {
    list-style-type: none;
    padding: 0 1rem;
}

.footer-nav a {
    text-decoration: none;
    color: #dbd7d7;
}

.copyright {
    color: #dbd7d7;
    font-size: 0.9rem;
    padding: 0 1rem;
}

a:hover,
a:active {
    color: #152b3d;
}