* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--main-color);
}

:root {
    --header-color: #5c6879;
    --main-color: #527d96;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg, #0700b8 0%, #00ff88 100%);
    /* background-color: var(--main-color); */
}

.header-wrapper {
    background: var(--header-color);
}

.main-header {
    background: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #dbd7d7;
    padding: 0 1rem;
}

.header-nav {
    display: flex;
    list-style-type: none;
}

.header-nav a {
    padding: 1rem;
    text-decoration: none;
    color: #dbd7d7;
}

main {
    background-color: transparent;
    flex: 1;
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.footer-wrapper {
    background: var(--header-color);
}

footer {
    background: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 0.7rem 0;
}

.footer-nav {
    list-style-type: none;
}

.footer-nav a {
    text-decoration: none;
    color: #dbd7d7;
    padding: 0 1rem;
}

.copyright {
    color: #dbd7d7;
    font-size: 0.9rem;
    padding: 0 1rem;
}

a:hover,
a:active {
    color: #152b3d;
}