* {
  padding: 0;
  margin: 0;
}

/* Flex container - direction column */
.outer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(185, 190, 190);
}

/* Flex container - direction row */
.inner-wrapper {
  display: flex;
  /* flex-direction: row */ /* This is the default value */
  flex: 1; /* This is essential to make items stretch full-height */
  width: 80%;
  align-self: center;
  background-color: rgb(226, 221, 221);
}

/* For the flex: 1; that we set in the parent to work, we must select All the
items and make them into flex containers - direction column */
.inner-wrapper > aside,
.inner-wrapper > main {
  display: flex;
  flex-direction: column;
}

aside {
  background-color: rgb(158, 204, 219);
  padding: 1rem;
  width: 20%;
}

header {
  background-color: rgba(63, 131, 96, 0.87);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

header a:visited {
  color: rgb(241, 219, 219);
}

header a:hover {
  color: rgb(173, 164, 164);
}

main {
  padding: 1rem;
  background-color: rgb(247, 189, 115);
  color: rgb(57, 61, 57);
  width: 60%;
}

footer {
  background-color: rgb(52, 124, 184);
  color: white;
  padding: 1rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  padding: 0.3rem 0.3rem;
  border: none;
  cursor: pointer;
  color: rgb(5, 5, 83);
}

button i:hover {
  color: rgb(79, 82, 80);
}

/*
Font name: Redacted Script
Author: Christian Naths
https://fonts.google.com/specimen/Redacted+Script
 */
.redacted-script-light {
  font-family: "Redacted Script", cursive;
  font-weight: 300;
  font-style: normal;
}

.redacted-script-regular {
  font-family: "Redacted Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.redacted-script-bold {
  font-family: "Redacted Script", cursive;
  font-weight: 700;
  font-style: normal;
}
