* {
  padding: 0;
  margin: 0;
}

/* Flex container - direction column */
.outer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(185, 190, 190);
}

/* Flex container - direction row */
.inner-wrapper {
  display: flex;
  flex: 1;
  width: 80%;
  align-self: center;
  background-color: rgb(226, 221, 221);
}

/* All the items are made into flex containers - direction column */
.inner-wrapper > * {
  display: flex;
  flex-direction: column;
  flex-basis: 100%; /* All items will have same width. */
}

aside {
  background-color: rgb(158, 204, 219);
  padding: 1rem;
}

header {
  background-color: rgba(63, 131, 96, 0.87);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

header a:visited {
  color: rgb(241, 219, 219);
}

header a:hover {
  color: rgb(173, 164, 164);
}

main {
  /* Grid areas must match what we defined in the grid container */
  grid-area: recipe;
  padding: 1rem;
  background-color: rgb(247, 189, 115);
  color: rgb(57, 61, 57);
}

footer {
  background-color: rgb(52, 124, 184);
  color: white;
  padding: 1rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  padding: 0.3rem 0.3rem;
  border: none;
  cursor: pointer;
  color: rgb(5, 5, 83);
}

button i:hover {
  color: rgb(79, 82, 80);
}

/*
Font name: Redacted Script
Author: Christian Naths
https://fonts.google.com/specimen/Redacted+Script
 */
.redacted-script-light {
  font-family: "Redacted Script", cursive;
  font-weight: 300;
  font-style: normal;
}

.redacted-script-regular {
  font-family: "Redacted Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.redacted-script-bold {
  font-family: "Redacted Script", cursive;
  font-weight: 700;
  font-style: normal;
}
