* {
  padding: 0;
  margin: 0;
}

.outer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(160, 159, 159);
}

.main-content {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "left main right";
  background-color: rgb(226, 221, 221);
  width: 80%;
  /* margin: 0 auto; */
}

aside {
  background-color: rgb(158, 204, 219);
  padding: 1rem;
}

.left-sidebar {
  grid-area: left;
}

.right-sidebar {
  grid-area: right;
}

header {
  background-color: rgba(63, 131, 96, 0.87);
  color: white;
  padding: 1rem;
}

main {
  grid-area: main;
  padding: 1rem;
  background-color: rgb(247, 189, 115);
  color: rgb(57, 61, 57);
}

footer {
  background-color: rgb(52, 124, 184);
  color: white;
  padding: 1rem;
}

/*
Font name: Redacted Script
Author: Christian Naths
https://fonts.google.com/specimen/Redacted+Script
 */
.redacted-script-light {
  font-family: "Redacted Script", cursive;
  font-weight: 300;
  font-style: normal;
}

.redacted-script-regular {
  font-family: "Redacted Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.redacted-script-bold {
  font-family: "Redacted Script", cursive;
  font-weight: 700;
  font-style: normal;
}
