* {
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  /* Flex container */
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(185, 190, 190);
}

.grid-container {
  flex: 1;
  /* Flex Item (full height) */
  width: 80%;
  /* center using flex properties */
  /* margin: 0 auto; */
  align-self: center;
  background-color: rgb(226, 221, 221);
  /* Grid stuff */
  display: grid;
  /* Grid container */
  grid-template-columns: 1fr 2fr 1fr;
  /* Define grid areas */
  grid-template-areas: "ingredients recipe right";
}

aside {
  background-color: rgb(158, 204, 219);
  padding: 1rem;
}

.left-sidebar {
  /* Grid areas must match what we defined in the grid container */
  grid-area: ingredients;
}

.right-sidebar {
  /* Grid areas must match what we defined in the grid container */
  grid-area: right;
}

header {
  background-color: rgba(63, 131, 96, 0.87);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

main {
  /* Grid areas must match what we defined in the grid container */
  grid-area: recipe;
  padding: 1rem;
  background-color: rgb(247, 189, 115);
  color: rgb(57, 61, 57);
}

footer {
  background-color: rgb(52, 124, 184);
  color: white;
  padding: 1rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(221, 150, 148);
  color: black;
  padding: 0.3rem .3rem;
  border: none;
  cursor: pointer;
}

/*
Font name: Redacted Script
Author: Christian Naths
https://fonts.google.com/specimen/Redacted+Script
 */
.redacted-script-light {
  font-family: "Redacted Script", cursive;
  font-weight: 300;
  font-style: normal;
}

.redacted-script-regular {
  font-family: "Redacted Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.redacted-script-bold {
  font-family: "Redacted Script", cursive;
  font-weight: 700;
  font-style: normal;
}