* {
  padding: 0;
  margin: 0;
}

.outer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(160, 159, 159)
}

.inner-container-flex-item {
  /* Flex Item */
  width: 80%;
  align-self: center;
  flex: 1;
  background-color: rgb(226, 221, 221);
}

.main-content {
  /* The role of this box is to display:display:
       - aside 
       - main 
       - aside
       Horizontally, in a row. 
    */
  display: flex;
  height: 100vh;
}

aside {
  width: 10%;
  background-color: rgb(158, 204, 219);
  padding: 1rem;
}

header {
  background-color: rgba(63, 131, 96, 0.87);
  color: white;
  padding: 1rem;
}

main {
  /* This is what makes the main element stretch full height of the container.*/
  flex: 1;
  width: 80%;
  padding: 1rem;
  background-color: rgb(247, 189, 115);
  color: rgb(57, 61, 57);
}

footer {
  background-color: rgb(52, 124, 184);
  color: white;
  padding: 1rem;
}

/*
Font name: Redacted Script
Author: Christian Naths
https://fonts.google.com/specimen/Redacted+Script
 */
.redacted-script-light {
  font-family: "Redacted Script", cursive;
  font-weight: 300;
  font-style: normal;
}

.redacted-script-regular {
  font-family: "Redacted Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.redacted-script-bold {
  font-family: "Redacted Script", cursive;
  font-weight: 700;
  font-style: normal;
}