* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: brown;
}

header {
  background-color: blue;
  color: white;
  padding: 1rem;
}

main {
  /* This is what makes the main element stretch full height of the container.*/
  flex: 1;
  width: 80%;
  align-self: center;
  padding: 1rem;
  background-color: sandybrown;
  color: rgb(57, 61, 57);
}

footer {
  background-color: green;
  color: white;
  padding: 1rem;
}

.redacted-script-light {
  font-family: "Redacted Script", cursive;
  font-weight: 300;
  font-style: normal;
}

.redacted-script-regular {
  font-family: "Redacted Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.redacted-script-bold {
  font-family: "Redacted Script", cursive;
  font-weight: 700;
  font-style: normal;
}
