* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    /* /background-color: rgb(129, 132, 134); */
    background-color: rgb(93, 101, 109);
    /* the line brlow is the default behavier */
    /* align-items: stretch; */
}

main {
    width: 80%;
    /* Traditional approach to center the element */
    margin: 0 auto;
    /* TODO: Find another way of centering when using flexbox */
    padding: 1rem;
    /* background-color: rgb(143, 79, 123); */
    background-color: rgb(196, 91, 164);
}