* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    background-color: brown;
    /* the line brlow is the default behavier */
    /* align-items: stretch; */
}

main {
    width: 80%;
    /* Traditional approach to center the element */
    margin: 0 auto;
    /* TODO: Find another way of centering when using flexbox */
    padding: 1rem;
    background-color: sandybrown;
}